# Entorno virtual
.venv/

# Variables de entorno y claves privadas
.env

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Configuración local de VS Code
.vscode/

# Modelos entrenados generados localmente
outputs/models/*.joblib
