# Entorno virtual
.venv/

# Variables de entorno y claves privadas
.env
.streamlit/secrets.toml

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Configuración local de VS Code
.vscode/

# Modelos entrenados generados localmente
outputs/models/*.joblib
# Datos crudos externos
data/raw/*
